:root {
    --color-primary: #f9f5f1;
    --color-secondary: #1A1818;

    --accent-color: #D91A33;
    --error-color: #F37C20;

    --font-primary: 'Basier Circle';;
    --font-secondary: "SaolDisplay-Regular";
}

[data-theme='dark'] {
    --color-primary: #1A1818;
    --color-secondary: #f9f5f1;
}

html, body {
    background-color: var(--color-primary);
}

.fill-bg {
    background-color: var(--color-primary);
}

.fill-txt {
    color: var(--color-secondary);
}

.app-wrapper {
    width: 100vw;
    padding: 1rem;
}

.hoverable:hover {
    font-style: italic;
    color: #D91A33;

    cursor: pointer;
}

.p-font-sm {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
}

.p-font-md {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 400;
}

.p-font-xl {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 400;
}

.h-font {
    font-family: var(--font-secondary);

    text-transform: uppercase;
}