@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('public/fonts/neue montreal/stylesheet.css');


html {
  scroll-behavior: smooth;
  font-family: 'Neue Montreal';
}

.hov-txt:hover {
  color: #D91A33;
  text-decoration: line-through;
}

.big-circle {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%; 
}

.small-circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 160s linear infinite;
}

@keyframes circle {
  0% {
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  
  }
  100% {
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
  }
}


