@media (width > 1100px)  {
    /* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
    /* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
    .bg-filler {    
        padding: 2.5rem 4rem;
    
        width: 60rem;
        height: 94%;
    }

    .h-font-sm {
        font-size: 5.5rem;
    
        text-transform: uppercase;
    }
    
    .h-font-md {
        font-size: 7rem;
        
        text-transform: uppercase;
    }
    
    .h-font-xl {
        font-size: 5rem;
    }

    /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
    /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
    .hi-text__container {
        margin-top: 2rem;

        text-align: center;
        position: relative;
    }

    .hi-text {
        font-size: 8rem;
    }

    /* PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE */
    /* PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE PROJECT PAGE */
    .project-preview__container {
        gap: 2rem;
    }

    .project-title {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .project-title__icon {
        height: 1.3rem;
    }

    .project-image {
        align-self: center;
        margin: 0 auto;

        width: 100%;
        max-height: 30rem;

        border: 1px solid var(--color-secondary);
    }
}