@media (width <= 344px) {
    /* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
    /* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
    .p-font-sm {
    font-size: 0.75rem;
    }

    .p-font-md {
        font-size: 0.9rem;
    }

    .p-font-l {
        font-size: 1rem;
    }

    .p-font-xl {
        font-size: 1.25rem;
    }

    .h-font-md {
        font-size: 20vw;
    }

    .h-font-sm {
        font-size: 15vw;
    }

    /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
    /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */
    .hi-text {
        font-size: 30vw;
    }

    .hi-text__container > h3 {
        position: absolute;
        top: 30vw;
    }

    .bio-text {
        margin-top: 20vw;
    }

    /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
    /* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
    .contact-header > h1 {
        font-size: 20vw;
    }

    .contact-header > p {
        position: absolute;
        top: 29vw;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .form__error-message {
        font-size: 0.65rem;
        bottom: auto;
    }
    
    .text-area__message {
        bottom: auto;
    }    
    
    .form-button {
        margin: 0.5rem auto;
        padding: 0.5rem 15vw;
    
        background: none;
        border: 1px solid var(--color-secondary);
    }
}